body{
    margin: 0;
margin-top: 0;
padding: 0;
}
.head{
    color: white;
    background-color: black;
    margin-top: 0;
    padding:15px;
}
.input1{
    display: flex; justify-content: center;flex-wrap: wrap;
/* margin-bottom:100px; */
}
@media screen and (max-width: 1440px) {
    .input {
   width:400px;
    }
  }
  @media screen and (max-width: 447px) {
    .input {
   width:300px;
    }
  }
  @media screen and (max-width: 561px) {
    .input {
   width:250px;
    }
  }
  @media screen and (max-width: 397px) {
    .input {
   width:200px;
    }
  }
  @media screen and (max-width: 355px) {
    .input {
   width:150px;
    }
  }
  @media screen and (max-width: 309px) {
    .input {
   width:110px;
    }
  }
  @media screen and (max-width: 303px) {
    .input {
   width:80px;
    }
  }
@media screen and (max-width: 300px) {
    .input {
   width: 30px;
    }
  }
  /* @media screen and (max-width: 230px) {
    .input {
   width:100px;
    }
  }
  @media screen and (max-width: 150px) {
    .input {
   width:60px;
    }
  }
  @media screen and (max-width: 96px) {
    .input {
   width:20px;
    }
  } */
.input{
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}
button{
    margin-left: 30px;
    padding: 10px;
    border-radius: 10px;
    color: antiquewhite;
    background-color: black;
}
#temp{
    display: flex; justify-content: center;
    color: gray;
   margin-top: 20px;
    font-size: 100px;font-weight: bold;

}
.cityCondition{
    display: flex; justify-content: center;
}
@media screen and (max-width: 333px) {
    .cityCondition {
        font-size: 10px;
    }
  }
#cityName{
    /* margin-right: 50px; */
}
#cityName, #condition{
    font-size: 30px;
    margin-top: 10px;
    font-weight: bold;
    color: gray;
}
#condition{
 margin-left: 40px;
}
.cento{
    display: flex;
justify-content: center ;
color: gray;
font-size: 20px;
}
.cento1{
    margin-top: 20px;
    /* margin-right: 300px; */
}
#humidity, #wind, #visibility{
    margin-top: 10px;
}